.MiniTagContainer {
    border-radius: 9999rem;
    padding: 8px 18px;
    font-weight: 500;
    font-size: 14px;
    color: var(--textColorBody);
    background: var(--bgBadgeGreen);
    width: fit-content;
    border: 1px var(--brBadgeGreen) solid;
    text-align: center;
}
