.authLoginFormContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
}

.inputBoxContainer {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    gap: 1rem;
}

.authFormBtnContainer {
    width: 100%;
}
