.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    position: sticky;
    top: 0;
    left: 0;
    box-shadow: var(--bsPrimary);
    margin-bottom: 2rem;
    background: var(--bgPrimary);
    z-index: 100;
}

.main {
    width: clamp(30rem, 40rem, 45rem);
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.pageTitle {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 1rem;
    color: var(--textColorPrimary);
    text-shadow: 0 4px 12px rgba(6, 8, 9, 0.1);
    font-optical-sizing: auto;
}

.pageDescription {
    font-size: 18px;
    font-weight: 400;
    color: var(--textColorSecondary);
    margin-bottom: 3rem;
}

.cardTutorSelector {
    background: var(--bgForm);
    border-radius: .5rem;
    box-shadow: var(--bsPrimary);
    margin-bottom: 2rem;
}

.cardPrimaryPart {
    padding: 24px 5rem;
}

.cardIconContainer {
    border-radius: 9999999rem;
    background: var(--gradientGreen);
    width: 90px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 24px;
}

.cardTitle {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: -0.6px;
    margin-top: 10px;
    text-align: center;
    color: var(--textColorPrimary);
}

.cardDescription {
    color:
        var(--textColorSecondary);
    margin-top: 10px;
    text-align: center;
    font-weight: 300;
}

.cardSecondaryPart {
    padding: 0px 3rem 2rem;
}

.featuresContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin-top: 24px;
}

.featureItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.featureIcon {
    padding: .5rem;
    color: var(--colorGreen);
    background: #4ade8021;
    border-radius: 999999rem;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.featureText {
    color: var(--textColorSecondary);
    font-size: 14px;
    font-weight: 300;
}

.loginText {
    margin-bottom: 1.5rem;
    color: var(--textColorSecondary);
    font-weight: 300;
}

hr {
    margin: 2rem 0;
    border: 0;
    height: 1px;
    background: var(--bgHr);
}

.adminLoginContainer {
    margin: 0 0 4rem;
    padding: 0 10rem;
}

.adminLoginText {
    cursor: pointer;
    color: var(--textColorSecondary);
    font-weight: 400;
    font-size: 14px;
    display: flex;
    gap: .5rem;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
}

.adminLoginText:hover {
    color: var(--textColorPrimary);
}

.adminLoginFormHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    color: var(--textColorSecondary);
    margin-bottom: 1rem;
}

.adminCodeForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.adminCodeForm label {
    font-size: 14px;
    font-weight: 500;
    color: var(--textColorSecondary);
}

.adminCodeForm input {
    width: 100%;
    background: var(--bgInput);
    border-radius: 10px;
    text-align: center;
    margin-top: .5rem;
    padding: 8px 12px;
    color: var(--textColorPrimary);
    font-size: 14px;
    border: 1px solid var(--borderInput);
    font-family: 'Ulagadi Sans', sans-serif;
}

.adminCodeForm input:focus {
    outline: 1px solid var(--colorGold);
}

.adminCodeFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 100%;
}