.InputBoxFormContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: left;
}

label {
    font-size: 14px;
    font-weight: 500;
    color: var(--textColorHeading);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}
