.buttonAuth {
    width: 100%;
    align-items: center;
    border-radius: 12px;
    display: inline-flex;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    padding: .7rem 0;
    font-family: 'Ulagadi Sans', sans-serif;
    text-align: center;
    cursor: pointer;
    box-shadow: var(--bsPrimary);
}

.buttonAuth:hover {
    box-shadow: var(--bsSecondary);
}

.btnNormal {
    background: var(--bgForm);
    color: var(--textColorPrimary);
}

.btnVerify {
    color: var(--textColorPrimary);
    background-color: var(--colorGold);
}

.btnVerify:hover {
    background-color: var(--colorGoldHover);
}

.btnRegister {
    color: var(--textColorTertiary);
    background-color: var(--colorGreen);
}

.btnRegister:hover {
    background-color: var(--colorGreenHover);
}