.logoName {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1rem;
}

.logoName img {
    width: 40px;
    height: 40px;
    padding: 0.3rem;
    border-radius: 50%;
}

.logoName:hover img {
    background: var(--bgBttTheme);
}

.logoNameText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.pageName {
    display: inline;
    font-size: 22px;
    font-weight: 700;
}

.pageDescription {
    font-size: 11px;
    color: var(--textColorSecondary);
    font-weight: 500;
}