.StepCardContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    gap: 2rem;
    margin: 0 auto;
}

.badgeTimeline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.StepCardContainer:last-child .badgeTimeline {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.badgeIcon {
    padding: 0.7rem;
    corner-shape: squircle;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--bsTertiary);
}

.timeline {
    width: 2px;
    flex: 1;
    background: linear-gradient(to bottom, #d1d5db, #e5e7eb);
    margin: 0.25rem 0;
    height: 100%;
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.miniTagStep {
    corner-shape: squircle;
    border-radius: 9999999rem;
    padding: 0.3rem 0.8rem;
    font-size: 12px;
    font-weight: bold;
    color: var(--textColorLightPrincipal);
    width: fit-content;
}

.titleStep {
    font-size: 26px;
    font-weight: 700;
    color: var(--textColorHeading);
    margin: 0.4rem 0 0.7rem;
}

.descriptionStep {
    color: var(--textColorBody);
    line-height: 1.6rem;
}

.detailsStepCard {
    margin: 2rem 0;
    padding: 2rem 1.5rem;
    box-shadow: var(--bsPrincipal);
    border: 1px solid var(--brSecondaryBtn);
    border-radius: 2rem;
    corner-shape: squircle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.listDetails {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.detailItem {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    list-style: none;
    width: 100%;
    gap: 1rem;
}

.detailIcon {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    corner-shape: squircle;
    border-radius: 2rem;
}

.detailText {
    font-size: 14px;
    color: var(--textColorBody);
    text-align: left;
}

@media (width < 768px) {
    .badgeTimeline {
        display: none;
    }

    .StepCardContainer {
        margin: 0;
    }

    .step {
        align-items: center;
        text-align: center;
    }
}
